<!-- Sparrow Gallery -->
<div class="sparrow-gallery">
    <!-- Блок превью картинок -->
    <ul class="sparrow-gallery__list">
        <!-- Превью картинки -->
        <li class="sparrow-gallery__item" data-full-size="img/sparrow-gallery/01.jpg">
            <div class="sparrow-gallery__image-wrapper" >
                <div class="sparrow-gallery__image-inner">
                    <img class="sparrow-gallery__img" src="img/sparrow-gallery/01_thumb.jpg" alt="galley image thumb">
                </div>
            </div>
        </li>    

        <!-- Превью картинки -->
        <li class="sparrow-gallery__item" data-full-size="img/sparrow-gallery/02.jpg">
            <div class="sparrow-gallery__image-wrapper" >
                <div class="sparrow-gallery__image-inner">
                    <img class="sparrow-gallery__img" src="img/sparrow-gallery/02_thumb.jpg" alt="galley image thumb">
                </div>
            </div>
        </li>    

        <!-- Превью картинки -->
        <li class="sparrow-gallery__item" data-full-size="img/sparrow-gallery/03.jpg">
            <div class="sparrow-gallery__image-wrapper" >
                <div class="sparrow-gallery__image-inner">
                    <img class="sparrow-gallery__img" src="img/sparrow-gallery/03_thumb.jpg" alt="galley image thumb">
                </div>
            </div>
        </li>    

        <!-- Превью картинки -->
        <li class="sparrow-gallery__item" data-full-size="img/sparrow-gallery/04.jpg">
            <div class="sparrow-gallery__image-wrapper" >
                <div class="sparrow-gallery__image-inner">
                    <img class="sparrow-gallery__img" src="img/sparrow-gallery/04_thumb.jpg" alt="galley image thumb">
                </div>
            </div>
        </li>    

        <!-- Превью картинки -->
        <li class="sparrow-gallery__item" data-full-size="img/sparrow-gallery/05.jpg">
            <div class="sparrow-gallery__image-wrapper" >
                <div class="sparrow-gallery__image-inner">
                    <img class="sparrow-gallery__img" src="img/sparrow-gallery/05_thumb.jpg" alt="galley image thumb">
                </div>
            </div>
        </li>   

    </ul><!-- / Блок превью картинок -->

    <!-- Popup для открытия избражения-->
    <div class="sparrow-gallery__popup-wrapper">
        
        <!-- Внутренняя оболочка попапа для изображения -->
        <div class="sparrow-gallery__popup-inner">
            
            <!-- Верхняя панель управления-->
            <div class="sparrow-gallery__popup-top-ui">
                <div class="sparrow-gallery__popup-top-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>

            <!-- Просмотр фото -->
            <div class="sparrow-gallery__popup-viewer">
                <div class="sparrow-gallery__popup-viewer-inner">
                    <picture>
                        <img class="sparrow-gallery__popup-viewer-photo" src="img/sparrow-gallery/01.jpg" alt="photo from gallery">
                    </picture>
                </div>
            </div>
            
            <!-- Нижняя панель управления -->
            <div class="sparrow-gallery__popup-bottom-ui">
                <button class="sparrow-gallery__btn sparrow-gallery__btn-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button class="sparrow-gallery__btn sparrow-gallery__btn-next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>

        </div><!-- / Внутренняя оболочка попапа для изображения -->
    </div><!-- / Popup для открытия избражения-->
</div><!-- /Sparrow Gallery -->
